html {
    /*background: url("../img/bg.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    margin: auto;
    height: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    background-color: transparent;
    font-family: Roboto;
    color: #46494C;
}

.inner {
    box-shadow: 0px 0px 15px #888888;
}

header {
    background-color: white;
    color: #011936;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto Slab;
}

.name {
  color: #1985a1;
  font-size: 100pt;
  font-family: Roboto Slab;
}

.subtitle {
  color: #4C5C68;
  font-size: 30pt;
}

.tagline {
  font-size: 20pt;
  font-family: Roboto Slab;

}

@media (max-width: 500px) {
  .name {
    color: #1985a1;
    font-size: 40pt;
    font-family: Roboto Slab;
  }

  .subtitle {
    color: #4C5C68;
    font-size: 30pt;
  }

  .tagline {
    font-size: 15pt;
  }

  .portfolio-modal, .modal-content h2 {
    font-size: 0.8em;
  }

  p {
    size:15px;
  }
}

.links {
    align: center;
}

a {
  color: #C5C3C6;
  text-decoration: none;
}

a:hover, a:focus {
   color: #1985A1;
   text-decoration: none;
 }

.btn-outline {
  color: #C5C3C6;
}

.btn-outline:hover {
  color: #1985A1;
}

.btn-outline:focus {
  color: #4C5C68;
}

.btnhome, .btnabout, .btnprojects {
    display: inline;
}

.btnhome a, .btnabout a, .btnprojects a {
  color: #C5C3C6;
  text-decoration: none;
}

.btnhome a:hover, .btnabout a:hover, .btnprojects a:hover {
  color: #1985A1;
  text-decoration: none;
}

.whitelink a {
    color: #4C5C68;
}

.projects span.skills {
	cursor: pointer;

  position: absolute;
  bottom: 0;
}

.portfolio-item {
  background-size: 0px;
  background-color: white;
  /*text-align: left;
  border-color: white;
  width:31%;
  margin: 10px;
  background-position: center;
  background-size: 120%;
  background-blend-mode: darken;*/
}

.portfolio-item:hover {
  background-blend-mode: lighten;
  color: #011936;
}

.portfolio-item a {
  color: inherit;
}

.modal-content p {
  color: #011936;
}

.modal-dialog {
  width: 50%;
  margin: auto;
  top: 50%;
}

@media (max-width: 500px) {
  .modal-dialog {
    width: 90%;
    margin: auto;
    top: 90%;
  }
}

@media (min-width: 500px) {
  .portfolio-item {
    background-color: #C5C3C6;
    text-align: left;
    color: white;
    border-color: white;
    width:31%;
    margin: 10px;
    background-position: center;
    background-size: 120%;
    background-blend-mode: darken;
  }

  .problem {text-align:center}
  .enclose {
    z-index: -1;
    position:fixed;
    bottom:0px;
    margin: 0px;
    width:100%;
    left: 0px;
    height: 20%;
    background-position: center;
    background-size: 120%;
    /*background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)), url("../img/bg/greenwich.jpeg");*/
  }
}
