html {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    margin: auto;
    height: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    background-color: transparent;
}

.inner {
    box-shadow: 0px 0px 15px #888888;
}

header {
    background-color: white;
    color: #011936;
}

.name {
  color: #ED254E;
}

.links {
    align: center;
}

.btnhome, .btnabout, .btnprojects {
    display: inline;
}

.whitelink a {
    color: white;
}

.projects span.skills {
	cursor: pointer;

  position: absolute;
  bottom: 0;
}

.portfolio-item {
  background-color: #ED254E;
  text-align: left;
  color: white;
  border-color: white;
  width:31%;
  margin: 10px;
  background-position: center;
  background-size: 120%;
  background-blend-mode: darken;
}

.portfolio-item:hover {
  background-blend-mode: lighten;
  color: #011936;
}

.portfolio-item a {
  color: inherit;
}

.modal-content p {
  color: #011936;
}
