html {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    margin: auto;
    height: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    background-color: transparent;
}

.inner {
    box-shadow: 0px 0px 15px #888888;
}

header {
    background-color: white;
    color: #ED254E;
}