.white {
  background-color: #ed6a5a;
  color: black;
  vertical-align: middle;
}

.black {
  background-color: #e8eef2;
  color: #595758;
  padding-left: 10%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Source Code Pro;
}

#nametag {
  position: absolute;
  left: 10%;
  bottom: 15%;
  background-color: white;
  font-family: Source Sans Pro;
  color: #595758;
  font-size: 130px;
  padding: 2px 30px 2px 30px;
  /*border-radius: 3px;*/
}

#title {
  position: absolute;
  left: 10%;
  top: 7%;
  background-color: white;
  font-family: Source Sans Pro;
  color: #595758;
  font-size: 130px;
  padding: 2px 30px 2px 30px;
  /*border-radius: 3px;*/
}

#location {
  position: absolute;
  right: 10%;
  top: 15%;
  font-family: Source Code Pro;
  color: #ffff82;
  text-align: right;
}

#navbar {
  position: absolute;
  left: 10%;
  bottom: 35%;
  font-family: Source Sans Pro;
  color: #595758;
}

#navbartop {
  position: absolute;
  left: 10%;
  top: 2%;
  font-family: Source Sans Pro;
  color: #595758;
}

#navbar table, #navbartop table {
  border-collapse: separate;
  border-spacing: 10px 0;
}

#navbar td, #navbartop td {
  color: white;
  padding: 5px;
  font-weight: bold;
  font-size: 15pt;
}

#navbar td a, #navbartop td a {
  padding: 5px;
  text-decoration: none;
}


.active {
  color: #595758;
  background-color: white;
}

a:link, a:visited {
  color: white;
}

a:hover, a:active {
  color: #595758;
  background-color: white;
}
