.title {
  /*background-color: #222;*/
  font-family: "porterbold";
  font-size: 4vw;
  color: #222;
  margin: 0;
  padding: 20px;
}

td {
  font-family: 'Lato', sans-serif;
  color: #888;
  vertical-align: top;
}

td h3 {
  font-family: "portermedium";
  color: #222;
  font-size: 150%;
}

.right a {
  color: #222;
  text-decoration: none;
}

.left a {
  font-family: "portermedium";
  color: #222;
  font-size: 120%;
  text-decoration: none;
  padding: 20px;
}

.list {
  padding-top: 100px;
}

.item {
  width: 90%;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.item:hover {
   box-shadow: 0 5px 10px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.12);
  /*background-color: #f4f1bb;*/
}

.item-listing {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;;
}

.toggle {display:none;}
.show {display:visible;}



@font-face {
    font-family: "porterbold";
    src:url("fonts/Porter Bold.otf");
}

@font-face {
    font-family: "porterlight";
    src:url("fonts/Porter Light.otf");
}

@font-face {
    font-family: "portermedium";
    src:url("fonts/Porter Medium.otf");
}
