/* @media screen  {
    .main {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      background-color: #91a6ff;
    }
  } */

.title p {
/*background-color: #222;*/
    font-family: "Helvetica";
    text-align: left;
    /* color: #222; */
    color: black;
    margin: 0;
    /* padding: 20px; */
  }

.title h2 {
    color: #000;
    font-size: 3vw;
}