@media screen  {  
  .nav {
    position: fixed;
    width: 90%;
    text-align: right;
    font-family: 'Raleway';
    background-color: rgba(255, 255, 255, 0);
    border-top: 5vh rgba(255, 255, 255, 0) solid;
    border-bottom: 5vh rgba(255, 255, 255, 0) solid;
    border-left: 10vw rgba(255, 255, 255, 0) solid;
    z-index: 2;
  }

  .nav1 {
    position: fixed;
    width: 90%;
    text-align: right;
    font-family: 'Raleway';
    background-color: rgba(255, 255, 255);
    border-top: 5vh rgba(255, 255, 255) solid;
    border-bottom: 5vh rgba(255, 255, 255) solid;
    border-left: 10vw rgba(255, 255, 255) solid;
    z-index: 1;
  }

  .nav a {
    text-decoration: none;
    font-weight: 500;
    padding: 20px;
    color: #26547C;
    transition: all 0.5s;
  }

  .nav a:hover {
    color: #E01A4F;
  }

  .is-active {
    font-weight: 800 !important;
  }
}