<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>harry brown</title>
    <link rel="stylesheet" type="text/css" href="javascript/viewScroller.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <style>
        .twocolumns p {
            font-size: 1vw;
        }
    </style>
    <style>
        .dot {
          height: 1vw;
          width: 1vw;
          background-color: grey;
          opacity: 0.5;
          border-radius: 50%;
          display: inline-block;
          margin: 10px 0px;
        }

        #menu, #dots {
          opacity: 1;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }
    </style>
</head>

<body>

    <div class="mainbag">
        <div vs-anchor="1" class="mainview view1">
            <div style="height: 70%">
                <div class="vs-center-wrap">
                    <div class="vs-center">
                        <center>
                            <h2 th:text="${'Hi, ' + invitename}"></h2>
                            <h3>1 month ago today.</h3>
                            <h5>a typo. a solid start 🙄</h5>
                            <img src="img/1.png">
                        </center>
                    </div>
                </div>
            </div>
            <div style="height: 30%">
                <center>
                    <hr width="3px" size="100" noshade style="color: white; border: none; background-color: white">
                        <p style="font-family: 'Roboto Slab'">pls scroll down</p>
                    <hr width="3px" size="1000" noshade style="color: black; border: none; background-color: #E01A4F">
                </center>
            </div>
        </div>

        <div vs-anchor="2" class="mainview view3">
            <div class="vs-center-wrap">
                <div class="vs-center">
                    <div class="info">
                        <h3 style="margin-bottom: 0px; font-family: 'Roboto Slab'; color: white;">and it didn't really get much better</h3>

                        <img src="img/2.jpg" style="height: 500px">
                        <p style="color: #222222; text-align: right;">something something friday 8:52am</p>
                    </div>
                </div>
            </div>
        </div>

        <div vs-anchor="3" class="mainview view1">
            <div style="height: 70%">
                <div class="vs-center-wrap">
                    <div class="vs-center">
                        <center>
                            <h2 th:text="${'Hi, ' + invitename}"></h2>
                            <h3>but thanks to huel</h3>
                            <img src="img/3.jpg" style="height: 500px">
                        </center>
                    </div>
                </div>
            </div>
            <div style="height: 30%">
                
            </div>
        </div>

        <div vs-anchor="4" class="mainview view3">
            <div style="height: 60%;">
                <div class="vs-center-wrap">
                    <div class="vs-center">
                        <div class="info">
                            <h3 style="color: white;">and... london transport......</h3>
                            <!-- <img src="img/4.jpg" style="height: 400px;"> -->
                            <img src="img/5.jpg" style="height: 400px">
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div vs-anchor="5" class="mainview view1">
            <div style="height: 70%">
                <div class="vs-center-wrap">
                    <div class="vs-center">
                        <center>
                            <h2 th:text="${'Hi, ' + invitename}"></h2>
                            <h3>things are ok nowadays</h3>
                            <img src="img/6.jpg" style="height: 500px">
                            <img src="https://vignette.wikia.nocookie.net/starwars/images/9/9e/KiAdiMundi.jpg/revision/latest?cb=20070930185700" style="height: 500px" >
                            <p style="text-align: right; color: grey;">it's me</p>
                        </center>
                    </div>
                </div>
            </div>
            <div style="height: 30%">
                
            </div>
        </div>
        
        <div vs-anchor="6" class="mainview view1">
            <div style="height: 70%">
                <div class="vs-center-wrap">
                    <div class="vs-center">
                        <center>
                            <div style="height: 50%">
                                <div class="container">
                                    <div class="balloon">
                                        <div><span>T</span>
                                        </div>
                                        <div><span>H</span>
                                        </div>
                                        <div><span>A</span>
                                        </div>
                                        <div><span>N</span>
                                        </div>
                                        <div><span>K</span>
                                        </div>
                                        <div><span>S</span>
                                        </div>
                                    </div>                    
                                </div>
                            </div>
                            <div style="height: 50%">
                                    <h3>for a nice month :)</h3>
                                </div>
                        </center>
                    </div>
                </div>
            </div>
            <div style="height: 30%">
                
            </div>
        </div>

        <div class="bottomline">
                _
              </div>

    </div>

    <script src="javascript/jquery-3.1.0.min.js"></script>
    <script src="javascript/jquery.easing.min.js"></script>
    <script src="javascript/jquery.mousewheel.min.js"></script>
    <script src="javascript/viewScroller.js"></script>
    <script src="javascript/jquery.ba-hashchange.min.js"></script>
    <script>
        $(document).ready(function() {

            // Sets viewScroller
            $('.mainbag').viewScroller({
                useScrollbar: false,
                changeWhenAnim: true
            });

        });
    </script>
    <script>
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        function validate() {
            var email = $("#emailInput").val();

            if (validateEmail(email)) {

            }
        }
    </script>
    <script>
        $(window).bind('hashchange', function() {
            var page = window.location.href.split('#')[1];

            if (page == "about" || page == "bepart" || page == "mission") {
                $('#linkJoin').css('color', 'white');
                $('#linkContact').css('color', 'white');

            } else {
                $('#linkJoin').css('color', 'black');
                $('#linkContact').css('color', 'black');
            }

        });
    </script>
</body>

</html>